---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-machine-learning/resources/bANLa) course resource._

---

## Assignment 4 - Understanding and Predicting Property Maintenance Fines

This assignment is based on a data challenge from the Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)). 

The Michigan Data Science Team ([MDST](http://midas.umich.edu/mdst/)) and the Michigan Student Symposium for Interdisciplinary Statistical Sciences ([MSSISS](https://sites.lsa.umich.edu/mssiss/)) have partnered with the City of Detroit to help solve one of the most pressing problems facing Detroit - blight. [Blight violations](http://www.detroitmi.gov/How-Do-I/Report/Blight-Complaint-FAQs) are issued by the city to individuals who allow their properties to remain in a deteriorated condition. Every year, the city of Detroit issues millions of dollars in fines to residents and every year, many of these fines remain unpaid. Enforcing unpaid blight fines is a costly and tedious process, so the city wants to know: how can we increase blight ticket compliance?

The first step in answering this question is understanding when and why a resident might fail to comply with a blight ticket. This is where predictive modeling comes in. For this assignment, your task is to predict whether a given blight ticket will be paid on time.

All data for this assignment has been provided to us through the [Detroit Open Data Portal](https://data.detroitmi.gov/). **Only the data already included in your Coursera directory can be used for training the model for this assignment.** Nonetheless, we encourage you to look into data from other Detroit datasets to help inform feature creation and model selection. We recommend taking a look at the following related datasets:

* [Building Permits](https://data.detroitmi.gov/Property-Parcels/Building-Permits/xw2a-a7tf)
* [Trades Permits](https://data.detroitmi.gov/Property-Parcels/Trades-Permits/635b-dsgv)
* [Improve Detroit: Submitted Issues](https://data.detroitmi.gov/Government/Improve-Detroit-Submitted-Issues/fwz3-w3yn)
* [DPD: Citizen Complaints](https://data.detroitmi.gov/Public-Safety/DPD-Citizen-Complaints-2016/kahe-efs3)
* [Parcel Map](https://data.detroitmi.gov/Property-Parcels/Parcel-Map/fxkw-udwf)

___

We provide you with two data files for use in training and validating your models: train.csv and test.csv. Each row in these two files corresponds to a single blight ticket, and includes information about when, why, and to whom each ticket was issued. The target variable is compliance, which is True if the ticket was paid early, on time, or within one month of the hearing data, False if the ticket was paid after the hearing date or not at all, and Null if the violator was found not responsible. Compliance, as well as a handful of other variables that will not be available at test-time, are only included in train.csv.

Note: All tickets where the violators were found not responsible are not considered during evaluation. They are included in the training set as an additional source of data for visualization, and to enable unsupervised and semi-supervised approaches. However, they are not included in the test set.

<br>

**File descriptions** (Use only this data for training your model!)

    readonly/train.csv - the training set (all tickets issued 2004-2011)
    readonly/test.csv - the test set (all tickets issued 2012-2016)
    readonly/addresses.csv & readonly/latlons.csv - mapping from ticket id to addresses, and from addresses to lat/lon coordinates. 
     Note: misspelled addresses may be incorrectly geolocated.

<br>

**Data fields**

train.csv & test.csv

    ticket_id - unique identifier for tickets
    agency_name - Agency that issued the ticket
    inspector_name - Name of inspector that issued the ticket
    violator_name - Name of the person/organization that the ticket was issued to
    violation_street_number, violation_street_name, violation_zip_code - Address where the violation occurred
    mailing_address_str_number, mailing_address_str_name, city, state, zip_code, non_us_str_code, country - Mailing address of the violator
    ticket_issued_date - Date and time the ticket was issued
    hearing_date - Date and time the violator's hearing was scheduled
    violation_code, violation_description - Type of violation
    disposition - Judgment and judgement type
    fine_amount - Violation fine amount, excluding fees
    admin_fee - $20 fee assigned to responsible judgments
state_fee - $10 fee assigned to responsible judgments
    late_fee - 10% fee assigned to responsible judgments
    discount_amount - discount applied, if any
    clean_up_cost - DPW clean-up or graffiti removal cost
    judgment_amount - Sum of all fines and fees
    grafitti_status - Flag for graffiti violations
    
train.csv only

    payment_amount - Amount paid, if any
    payment_date - Date payment was made, if it was received
    payment_status - Current payment status as of Feb 1 2017
    balance_due - Fines and fees still owed
    collection_status - Flag for payments in collections
    compliance [target variable for prediction] 
     Null = Not responsible
     0 = Responsible, non-compliant
     1 = Responsible, compliant
    compliance_detail - More information on why each ticket was marked compliant or non-compliant


___

## Evaluation

Your predictions will be given as the probability that the corresponding blight ticket will be paid on time.

The evaluation metric for this assignment is the Area Under the ROC Curve (AUC). 

Your grade will be based on the AUC score computed for your classifier. A model which with an AUROC of 0.7 passes this assignment, over 0.75 will recieve full points.
___

For this assignment, create a function that trains a model to predict blight ticket compliance in Detroit using `readonly/train.csv`. Using this model, return a series of length 61001 with the data being the probability that each corresponding ticket from `readonly/test.csv` will be paid, and the index being the ticket_id.

Example:

    ticket_id
       284932    0.531842
       285362    0.401958
       285361    0.105928
       285338    0.018572
                 ...
       376499    0.208567
       376500    0.818759
       369851    0.018528
       Name: compliance, dtype: float32
       
### Hints

* Make sure your code is working before submitting it to the autograder.

* Print out your result to see whether there is anything weird (e.g., all probabilities are the same).

* Generally the total runtime should be less than 10 mins. You should NOT use Neural Network related classifiers (e.g., MLPClassifier) in this question. 

* Try to avoid global variables. If you have other functions besides blight_model, you should move those functions inside the scope of blight_model.

* Refer to the pinned threads in Week 4's discussion forum when there is something you could not figure it out.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("readonly/train.csv",encoding='latin1')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(250306, 34)

In [4]:
df = df.sort_values('ticket_id',axis=0).reset_index().drop('index',axis=1)
df.head(2)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,18645,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Byrd, Dean",601.0,KING,NaN,599.0,King,Det,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,18646,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Roberts, Cynthia",607.0,KING,NaN,1864.0,Appoline,Det,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0

In [5]:
df.head(1)

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,18645,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","Byrd, Dean",601.0,KING,NaN,599.0,King,Det,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0

In [6]:
df.columns

Index(['ticket_id', 'agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [7]:
df.dtypes

ticket_id                       int64
agency_name                    object
inspector_name                 object
violator_name                  object
violation_street_number       float64
violation_street_name          object
violation_zip_code            float64
mailing_address_str_number    float64
mailing_address_str_name       object
city                           object
state                          object
zip_code                       object
non_us_str_code                object
country                        object
ticket_issued_date             object
hearing_date                   object
violation_code                 object
violation_description          object
disposition                    object
fine_amount                   float64
admin_fee                     float64
state_fee                     float64
late_fee                      float64
discount_amount               float64
clean_up_cost                 float64
judgment_amount               float64
payment_amount                float64
balance_due                   float64
payment_date                   object
payment_status                 object
collection_status              object
grafitti_status                object
compliance_detail              object
compliance                    float64
dtype: object

In [8]:
type(df.dtypes)

pandas.core.series.Series

In [9]:
df.dtypes.keys()

Index(['ticket_id', 'agency_name', 'inspector_name', 'violator_name',
       'violation_street_number', 'violation_street_name',
       'violation_zip_code', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country', 'ticket_issued_date', 'hearing_date',
       'violation_code', 'violation_description', 'disposition', 'fine_amount',
       'admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount', 'payment_amount', 'balance_due',
       'payment_date', 'payment_status', 'collection_status',
       'grafitti_status', 'compliance_detail', 'compliance'],
      dtype='object')

In [10]:
df.dtypes.values

array([dtype('int64'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64')], dtype=object)

In [11]:
df.isnull().sum()

ticket_id                          0
agency_name                        0
inspector_name                     0
violator_name                     34
violation_street_number            0
violation_street_name              0
violation_zip_code            250306
mailing_address_str_number      3602
mailing_address_str_name           4
city                               0
state                             93
zip_code                           1
non_us_str_code               250303
country                            0
ticket_issued_date                 0
hearing_date                   12491
violation_code                     0
violation_description              0
disposition                        0
fine_amount                        1
admin_fee                          0
state_fee                          0
late_fee                           0
discount_amount                    0
clean_up_cost                      0
judgment_amount                    0
payment_amount                     0
balance_due                        0
payment_date                  209193
payment_status                     0
collection_status             213409
grafitti_status               250305
compliance_detail                  0
compliance                     90426
dtype: int64

Remove from Features as Nan: 'violation_zip_code', 'non_us_str_code', 'payment_date', 'collection_status', 'grafitti_status'

In [12]:
df.columns.tolist()

['ticket_id',
 'agency_name',
 'inspector_name',
 'violator_name',
 'violation_street_number',
 'violation_street_name',
 'violation_zip_code',
 'mailing_address_str_number',
 'mailing_address_str_name',
 'city',
 'state',
 'zip_code',
 'non_us_str_code',
 'country',
 'ticket_issued_date',
 'hearing_date',
 'violation_code',
 'violation_description',
 'disposition',
 'fine_amount',
 'admin_fee',
 'state_fee',
 'late_fee',
 'discount_amount',
 'clean_up_cost',
 'judgment_amount',
 'payment_amount',
 'balance_due',
 'payment_date',
 'payment_status',
 'collection_status',
 'grafitti_status',
 'compliance_detail',
 'compliance']

In [13]:
len(df.columns.tolist())

34

In [14]:
remo_col = ['violation_zip_code','non_us_str_code','payment_date','collection_status','grafitti_status','violation_description']

In [15]:
columns = df.columns.tolist()

In [16]:
#  Not working:
#  columns.remove(['violation_zip_code','non_us_str_code','payment_date','collection_status','grafitti_status'])

In [17]:
len(columns)

34

In [18]:
feat_col = [x for x in columns if x not in remo_col]
len(feat_col)

28

In [19]:
for col in (feat_col):
    # print("ColName: {0}\n Unique Values: {1} \n No. of Unique Values: {2}".format(col,df[col].unique(),df[col].nunique()))
    print("ColName: {0}\t No. of Unique Values: {1}".format(col,df[col].nunique()))

ColName: ticket_id	 No. of Unique Values: 250306
ColName: agency_name	 No. of Unique Values: 5
ColName: inspector_name	 No. of Unique Values: 173
ColName: violator_name	 No. of Unique Values: 119992
ColName: violation_street_number	 No. of Unique Values: 19175
ColName: violation_street_name	 No. of Unique Values: 1791
ColName: mailing_address_str_number	 No. of Unique Values: 15826
ColName: mailing_address_str_name	 No. of Unique Values: 37896
ColName: city	 No. of Unique Values: 5184
ColName: state	 No. of Unique Values: 59
ColName: zip_code	 No. of Unique Values: 5642
ColName: country	 No. of Unique Values: 5
ColName: ticket_issued_date	 No. of Unique Values: 86979
ColName: hearing_date	 No. of Unique Values: 6222
ColName: violation_code	 No. of Unique Values: 235
ColName: disposition	 No. of Unique Values: 9
ColName: fine_amount	 No. of Unique Values: 43
ColName: admin_fee	 No. of Unique Values: 2
ColName: state_fee	 No. of Unique Values: 2
ColName: late_fee	 No. of Unique Values: 37
ColName: discount_amount	 No. of Unique Values: 13
ColName: clean_up_cost	 No. of Unique Values: 1
ColName: judgment_amount	 No. of Unique Values: 57
ColName: payment_amount	 No. of Unique Values: 533
ColName: balance_due	 No. of Unique Values: 606
ColName: payment_status	 No. of Unique Values: 3
ColName: compliance_detail	 No. of Unique Values: 10
ColName: compliance	 No. of Unique Values: 2

Catogerical data information:
agency_name - 5
country - 5 
state - 59
violation_code - 235
disposition - 9
fine_amount - 43

In [20]:
for col in (feat_col):
    print(df[col].value_counts())

22517     1
31066     1
26968     1
53583     1
55630     1
49485     1
51532     1
61771     1
63818     1
59720     1
37191     1
39238     1
33093     1
35140     1
45379     1
47426     1
41281     1
43328     1
217407    1
219454    1
213309    1
215356    1
225595    1
227642    1
221497    1
223544    1
201015    1
203062    1
196917    1
24921     1
         ..
274223    1
87936     1
120720    1
112540    1
102299    1
100250    1
106393    1
104344    1
126871    1
124822    1
130965    1
128916    1
118675    1
116626    1
122769    1
77711     1
89985     1
75662     1
81805     1
79756     1
69515     1
67466     1
73609     1
71560     1
94087     1
92038     1
98181     1
96132     1
83842     1
20490     1
Name: ticket_id, dtype: int64
Buildings, Safety Engineering & Env Department    157784
Department of Public Works                         74717
Health Department                                   8903
Detroit Police Department                           8900
Neighborhood City Halls                                2
Name: agency_name, dtype: int64
Morris, John           17926
Steele, Jonathan       13237
Samaan, Neil J         12733
O'Neal, Claude         11591
Devaney, John          10769
Sims, Martinzie         9976
Sloane, Bennie J        9730
Hayes, Billy J          9493
Doetsch, James          7108
Zizi, Josue             6587
Gailes, Orbie J         6259
Danielson, Keith D      5906
Jones, Leah             4082
Sharpe, Anthony         3860
Legge, Gerald           3849
Davis, Darlene          3817
Addison, Michael        3583
Harris, Rickey          3466
Karwowski, Stephen      3231
Havard, Jacqueline      3140
DeRamer, Andrew         3114
Johnson, Lois           3046
ELLARD, EVERETT         2833
Kent, Gerald            2763
Frazier, Willie         2741
Matthews, Delos         2618
Watson, Jerry           2479
Moore, David            2467
Talbert, Reginald       2324
Shimko, James           2285
                       ...
Lee, Charles              15
Rogers, Johnnie           15
O'Neil, Vincent T         14
Thomas, Duane             13
Doonan, Christopher       13
Snyder, Derrell           12
Sievers, Mark             10
Bush, Wesley              10
Spann, Damon               9
Pacteles, Michael          8
Clark, Marcel              7
Glavac, Douglas            7
BENNETT, MARGARET          7
McClendon, Labree          6
Dockery, James             6
Pickens, William           5
Miller, Ursula             5
Malone, Melanie            5
Sean, Bacon                4
Burks, Colette             3
Hall, George               2
Paylor, Ava                2
Johnson, James             1
Hischke, William           1
Fisher, Rodney             1
Coleman, Lanetha           1
Doneghy, John              1
Walton, William            1
Powell, Walter             1
YOUNG, GERALDINE           1
Name: inspector_name, dtype: int64
INVESTMENT, ACORN                         809
INVESTMENT CO., ACORN                     425
BANK, WELLS FARGO                         328
MILLER, JOHN                              205
SHIFMAN, ALLEN                            192
NEW YORK, BANK OF                         184
COMMISSION, DETROIT HOUSING               178
STEHLIK, JERRY                            162
SNOW, GEORGE                              147
APARTMENTS, CARLTON                       139
TREASURER, WAYNE COUNTY                   139
KRAMER, KEITH                             137
FARWELL, WILLIAM B                        123
PARKVIEW LLC, NORMANDY                    122
NATIONAL TRUST CO., DEUTSCHE BANK         122
INVESTMENTS, ACORN                        122
BANK, DEUTSCHE                            119
ROSEN, NATHAN                             110
PRESTIGE, KMG                             101
LEONARD, JACK                              99
BROADWAY, LLC, 1509                        98
SYSTEMS, MANAGEMENT                        96
Investment, Acorn                          94
NATIONAL TRUST, DEUTSCHE BANK              93
ESTATES, EVERGREEN                         93
MANAGEMENT, FOREST CITY                    92
FARGO BANK, WELLS                          91
CHASE BANK, JP MORGAN                      91
INVESTMENT CO, ACORN                       87
MORTGAGE ASSOCIATION, FEDERAL NATIONAL     87
                                         ...
SYSTEMS INC., WIMPY BURGER                  1
ARTURO, MERCEDES                            1
Davenport, Rosa B                           1
BEALS, DEBRA                                1
WHITTINGTON, SORENA                         1
HILL, LATRESSA ANN                          1
PETERSON, CATO  L                           1
GRAHAM, SHO-RAN                             1
TAYLOR, BARBARA J                           1
AYERBE. JR, JOAQUIN                         1
STOKES  SR, TERENCE R                       1
CARING TEMPLE M.B.C., *                     1
LAVAN JOHNSON, 0                            1
PIPING INC., CENTER LINE                    1
TANK & LINING, GREAT LAKES                  1
HAMILTON, WENDY J                           1
JENNINGS, MATTIE                            1
MORTGAGE, L.L.C., GMAC                      1
WILLIAMS, ROBERT M.                         1
GREEN COGIC, PLEASANT                       1
FORD, ISAIAH                                1
AMAN-ULLAH, IMRAN                           1
EVERETTE, LEONARD                           1
INVESTMENTS, SCHAEFER                       1
HOLMES, DEBRA                               1
WILCOX, NORMAN                              1
Collision, Az                               1
Ramirez, Mario                              1
WALL, KIM                                   1
SAMI, WAIL                                  1
Name: violator_name, dtype: int64
1509.0      240
0.0         195
600.0       182
19300.0     153
1401.0      132
15700.0     123
8200.0      115
20200.0     112
9125.0      109
14300.0     107
18400.0     106
8100.0      104
15800.0     103
18500.0     102
6300.0      102
18600.0     102
20500.0     102
20400.0      99
2900.0       99
14800.0      99
16189.0      97
7400.0       95
8500.0       93
12850.0      92
14200.0      92
400.0        90
8400.0       88
69.0         88
18900.0      87
20000.0      87
           ...
22343.0       1
17274.0       1
113312.0      1
18770.0       1
18769.0       1
16109.0       1
16672.0       1
7873.0        1
48051.0       1
8483.0        1
2321.0        1
44662.0       1
22620.0       1
18767.0       1
22333.0       1
8773.0        1
4911.0        1
22335.0       1
15606.0       1
8485.0        1
16971.0       1
3869.0        1
18755.0       1
15169.0       1
11464.0       1
22341.0       1
5294.0        1
18747.0       1
10314.0       1
6172.0        1
Name: violation_street_number, dtype: int64
SEVEN MILE      3482
MCNICHOLS       3041
LIVERNOIS       2482
GRAND RIVER     1766
EVERGREEN       1749
FENKELL         1512
ASBURY PARK     1491
WARREN          1443
ARCHDALE        1373
EIGHT MILE      1367
APPOLINE        1333
GRATIOT         1255
WYOMING         1218
JOY RD          1194
SCHAEFER        1193
ASHTON          1192
WOODWARD AVE    1191
CLEMENTS        1189
ARDMORE         1187
GRAND BLVD      1137
CHICAGO         1106
GREENFIELD      1105
FORRER          1045
MEYERS RD       1030
VAN DYKE         944
INDIANA          943
FREELAND         937
COYLE            936
MARK TWAIN       932
FIELDING         930
                ...
BREWSTER           1
AMITY              1
BUELOW CT          1
ERIE               1
JAY                1
SOUTHAMPTON        1
BURROUGHS          1
WARNER             1
BROCK              1
TROY               1
LOWELL DR          1
KINGSWOOD          1
WING PL            1
DAVID              1
ELLERY PL          1
JAMES CT           1
HEINTZ             1
SHERMAN            1
NAVARRE PL         1
WHITLOCK           1
WYMAN              1
KING RICHARD       1
BRENNAN            1
NANCY              1
MOYES              1
SYCAMORE           1
WELLESLEY DR       1
BATES              1
CARTRIDGE          1
GREENSPAN          1
Name: violation_street_name, dtype: int64
213.0       1934
1.0         1662
4.0         1181
3.0          979
11.0         677
3476.0       567
5.0          530
131.0        528
21.0         513
36.0         471
2.0          464
28.0         457
715.0        457
743.0        449
243.0        436
55.0         429
127.0        428
19785.0      411
179.0        404
181.0        385
15.0         384
22.0         381
155.0        372
91.0         365
23.0         359
4828.0       356
231.0        351
43.0         350
415.0        347
311.0        346
            ...
9753.0         1
23412.0        1
12414.0        1
23684.0        1
12852.0        1
252673.0       1
6958.0         1
25456.0        1
38953.0        1
21625.0        1
16498.0        1
14668.0        1
16323.0        1
17379.0        1
23369.0        1
43245.0        1
6657.0         1
15783.0        1
35258.0        1
27756.0        1
4812.0         1
43158.0        1
22874.0        1
31722.0        1
12519.0        1
21619.0        1
24838.0        1
38967.0        1
35367.0        1
7143.0         1
Name: mailing_address_str_number, dtype: int64
PO BOX                        8668
P.O. BOX                      7182
GRAND RIVER                   1249
LIVERNOIS                     1205
W. MCNICHOLS                   990
GREENFIELD                     762
GRATIOT                        757
E. JEFFERSON                   751
HARPER                         713
P.O. Box                       707
WOODWARD                       703
W. SEVEN MILE                  673
P. O. BOX                      653
WYOMING                        647
MACK                           641
FENKELL                        631
APPOLINE                       584
HARTWELL                       581
JAMES COUZENS                  566
EVERGREEN                      518
SUSSEX                         508
SCHAEFER                       506
ASHTON                         506
WHITCOMB                       502
INDIANA                        492
VAN DYKE                       484
MONICA                         481
W. WARREN                      474
ARCHDALE                       473
MARK TWAIN                     469
                              ...
LAFAYETTE, CIR                   1
W DUNDEE                         1
BEACHKNOLL                       1
STATE ST 21ST FLOOR              1
HATHAWAY RISINE                  1
SOUTH WACKER DR. STE1300         1
WAKLELY NE ST                    1
KENT KANGLEY #104                1
P.O.BOX 1111                     1
E  BIG  BEAVER RD STE 103        1
dreschfield                      1
SE78H2                           1
ORCHARD LK STE#650               1
FRSIBEE                          1
OAKBROOK LN                      1
N  AVE  57                       1
SEVEN MILE ROAD #5               1
gladys                           1
FROST ROAD                       1
MUERDALE  AVE.                   1
E. VAILE                         1
Bar Harbor Dr.                   1
BRIAR MEADOW                     1
BAY MEADOWS WAY  #JAXA2035       1
SWESI TEMPLE                     1
NEWTOWN ST. W                    1
TWYAKINGHAM WAY                  1
MCQUADE C/O                      1
Wohlfeil                         1
green brian                      1
Name: mailing_address_str_name, dtype: int64
DETROIT               136936
SOUTHFIELD             13436
Detroit                10496
detroit                 4183
DEARBORN                3637
FARMINGTON HILLS        2329
OAK PARK                2216
WARREN                  2000
DET                     1657
W. BLOOMFIELD           1635
LIVONIA                 1614
REDFORD                 1544
TROY                    1525
WEST BLOOMFIELD         1106
Southfield              1046
CANTON                  1018
DET.                     944
EASTPOINTE               887
FARMINGTON               873
BLOOMFIELD HILLS         860
CHICAGO                  843
LATHRUP VILLAGE          753
ROSEVILLE                738
LANSING                  728
GROSSE POINTE            720
SAN DIEGO                708
ST. CLAIR SHORES         707
WESTLAND                 693
FERNDALE                 690
STERLING HEIGHTS         652
                       ...
Schaumburg                 1
WINCHESTER                 1
GROSSE POINTE WD           1
BRIMINGTON                 1
Van Buren                  1
PITOSVILLE                 1
NOKOMIS                    1
Grosse Ponte Farms         1
GLOSS POINT SHORE          1
WEST PALM BECH             1
Dundee                     1
BRYANT                     1
WEST PALEM BEACH           1
ROBINA                     1
CHERRRY HILL               1
COLOBIA                    1
DAKOTA DUNES               1
WESTVILL                   1
GRAND RAPIIDS              1
grosse pte. park           1
RICHTON PARK               1
RAMULUS                    1
ALLENDALE                  1
TEMPEL                     1
VAN NUYS,                  1
BMFD TWP                   1
GROSS POINT WDS.           1
XXXXXXXXXXXXXX             1
THORNTON                   1
Shelby Township            1
Name: city, dtype: int64
MI    228601
CA      5020
TX      2420
FL      2237
IL      1310
SC      1304
OH       967
NY       673
MN       632
GA       535
NV       484
UT       477
PA       466
NJ       395
VA       385
NC       353
MD       349
AZ       329
ME       261
OK       248
AL       215
TN       207
WA       192
MA       182
WI       159
IA       159
OR       153
MO       151
CO       147
KY       146
IN       106
AR        82
LA        81
AK        79
NB        77
UK        77
MS        64
CT        60
DC        58
ON        51
DE        50
KS        37
RI        35
SD        33
ID        33
MT        28
NM        21
BC        17
WY        12
HI        10
NH         9
VT         7
VI         6
WV         6
PR         5
QC         5
QL         3
BL         2
ND         2
Name: state, dtype: int64
48221     7056
48227     6984
48235     6712
48219     6167
48228     5648
48224     5458
48238     5401
48227     4633
48205     4572
48204     4441
48234     4248
48235     4084
48221     4048
48209     3741
48223     3704
48228     3552
48206     3545
48203     3431
48075     3377
48213     3352
48210     3303
48238     3014
48219     3003
48224     2914
48207     2835
48202     2765
48205     2753
48076     2602
48204     2478
48234     2348
          ...
482077       1
12073        1
91505        1
11213        1
23327        1
11207        1
34748        1
482097       1
50642        1
44074        1
482037       1
482035       1
23232        1
44128        1
44125        1
11356        1
44123        1
90062        1
23210        1
44120        1
33136        1
94544        1
48293        1
14867        1
482032       1
75147        1
5033         1
11324        1
90018        1
48617        1
Name: zip_code, dtype: int64
USA     250293
Cana         7
Aust         3
Egyp         2
Germ         1
Name: country, dtype: int64
2010-02-17 09:00:00    97
2007-12-21 09:00:00    88
2008-01-22 09:00:00    81
2006-01-12 09:00:00    80
2009-10-12 09:00:00    80
2010-02-02 09:00:00    80
2008-09-23 09:00:00    75
2008-04-29 09:00:00    72
2006-03-08 09:00:00    71
2006-11-30 09:00:00    71
2006-12-07 09:00:00    71
2007-10-17 09:00:00    71
2006-10-25 09:00:00    70
2008-06-11 11:00:00    68
2008-06-02 09:00:00    68
2006-06-05 09:00:00    65
2006-06-19 09:00:00    64
2008-01-23 09:00:00    64
2006-04-03 09:00:00    64
2011-09-13 09:00:00    64
2010-04-20 09:00:00    63
2009-09-14 09:00:00    63
2006-09-20 09:00:00    61
2007-12-04 09:00:00    61
2007-09-28 09:00:00    60
2008-04-08 09:00:00    60
2006-11-28 09:00:00    60
2006-05-31 09:00:00    60
2008-05-13 09:00:00    59
2010-01-26 09:00:00    59
                       ..
2005-06-08 10:40:00     1
2005-12-02 10:05:00     1
2005-06-02 11:55:00     1
2005-07-01 17:00:00     1
2010-11-01 15:30:00     1
2008-10-29 08:05:00     1
2010-12-13 08:15:00     1
2007-02-17 07:20:00     1
2007-08-08 09:25:00     1
2005-10-07 10:35:00     1
2011-05-12 13:20:00     1
2008-06-02 11:15:00     1
2005-08-12 14:30:00     1
2011-06-15 13:55:00     1
2009-04-24 13:15:00     1
2007-03-19 14:00:00     1
2007-11-02 10:40:00     1
2009-11-06 00:40:00     1
2008-03-25 08:10:00     1
2011-09-14 10:10:00     1
2010-10-01 15:25:00     1
2006-11-09 08:15:00     1
2005-07-13 14:20:00     1
2011-01-10 10:50:00     1
2006-01-05 10:50:00     1
2009-09-29 12:45:00     1
2009-09-04 08:45:00     1
2011-10-03 12:00:00     1
2007-07-30 13:40:00     1
2009-06-03 10:50:00     1
Name: ticket_issued_date, dtype: int64
2005-12-22 10:30:00    622
2005-12-20 09:00:00    601
2005-12-22 09:00:00    565
2005-12-21 10:30:00    554
2005-12-20 10:30:00    548
2005-12-21 09:00:00    447
2005-12-22 13:30:00    434
2005-12-27 10:30:00    427
2007-08-07 10:30:00    389
2005-12-20 13:30:00    366
2005-12-20 15:00:00    345
2007-08-07 13:30:00    330
2006-04-05 10:30:00    307
2006-02-01 10:30:00    299
2007-08-07 09:00:00    292
2006-03-21 10:30:00    286
2005-12-22 15:00:00    281
2005-12-27 09:00:00    269
2005-12-21 15:00:00    266
2006-04-05 09:00:00    250
2006-04-06 09:00:00    247
2005-12-21 13:30:00    237
2006-04-03 10:30:00    224
2006-03-22 10:30:00    218
2006-04-04 09:00:00    214
2006-04-07 10:30:00    205
2006-04-11 09:00:00    203
2006-03-21 09:00:00    202
2006-04-04 10:30:00    201
2006-04-03 09:00:00    198
                      ...
2010-03-02 13:30:00      1
2008-02-11 13:30:00      1
2009-08-26 13:30:00      1
2006-02-17 15:00:00      1
2007-08-03 09:00:00      1
2007-02-05 15:00:00      1
2005-02-02 09:00:00      1
2005-02-08 15:00:00      1
2010-07-13 15:00:00      1
2017-01-27 10:30:00      1
2005-02-15 13:30:00      1
2006-09-29 10:30:00      1
2013-01-30 09:00:00      1
2009-01-20 18:00:00      1
2009-10-23 09:00:00      1
2011-09-23 13:30:00      1
2005-12-16 15:00:00      1
2006-10-27 13:30:00      1
2012-05-11 09:00:00      1
2011-07-01 15:00:00      1
2006-10-20 15:00:00      1
2006-06-16 15:00:00      1
2007-01-22 09:00:00      1
2012-07-27 09:00:00      1
2006-06-22 09:00:00      1
2007-01-09 13:30:00      1
2006-06-14 15:00:00      1
2007-11-16 15:00:00      1
2012-02-21 13:30:00      1
2007-06-08 15:00:00      1
Name: hearing_date, dtype: int64
9-1-36(a)               99091
9-1-81(a)               43471
22-2-88                 28720
9-1-104                 22536
22-2-88(b)               7238
22-2-45                  5394
9-1-43(a) - (Dwellin     5332
9-1-105                  5072
9-1-110(a)               4814
22-2-22                  3755
9-1-103(C)               3537
19450901                 2963
22-2-43                  2903
22-2-17                  1940
22-2-61                  1456
9-1-82(d) - (Dwellin      895
22-2-83(a)(b)(c)          849
61-81.0100/32.0066        812
9-1-43(a) - (Structu      765
22-2-83                   633
9-1-43(a) - (Stories      457
61-5-21                   426
9-1-206                   344
22-2-88(a)                342
9-1-209                   335
9-1-101                   294
22-2-21(b)                286
61-5-18                   273
9-1-107                   222
9-1-111                   201
                        ...
9-1-377                     1
9-1-502                     1
61-86.0100/45.0807          1
9-1-375                     1
22-2-97                     1
61-122.0100/32.0066         1
9-1-471                     1
9-1-352                     1
9-1-354                     1
61-120.0100/32.0066         1
61-116.0100/32.0031         1
9-1-215                     1
61-130.0000/130.0300        1
9-1-308                     1
61-84.0100/32.0076B         1
9-1-462(a)                  1
61-14-452(2)                1
9-1-433                     1
9-1-406                     1
61-84.0100/32.0031          1
61-4-38                     1
61-118.0100/32.0066         1
61-45.0000                  1
9-1-381                     1
9-1-434                     1
61-105.0100/32.0076B        1
61-96.0100/32.0066          1

In [21]:
float_cols = (df.columns[(df.dtypes.values == np.dtype('float64'))]).tolist()
float_cols

['violation_street_number',
 'violation_zip_code',
 'mailing_address_str_number',
 'fine_amount',
 'admin_fee',
 'state_fee',
 'late_fee',
 'discount_amount',
 'clean_up_cost',
 'judgment_amount',
 'payment_amount',
 'balance_due',
 'compliance']

In [22]:
remo_col = ['violation_zip_code','balance_due','payment_amount','non_us_str_code','payment_date','collection_status',
            'mailing_address_str_number','grafitti_status','violation_description']

In [23]:
float_feat_cols = [x for x in float_cols if x not in remo_col]
float_feat_cols

['violation_street_number',
 'fine_amount',
 'admin_fee',
 'state_fee',
 'late_fee',
 'discount_amount',
 'clean_up_cost',
 'judgment_amount',
 'compliance']

Columns are not in TEST DATA:
payment_amount - Amount paid, if any
payment_date - Date payment was made, if it was received
payment_status - Current payment status as of Feb 1 2017
balance_due - Fines and fees still owed
collection_status - Flag for payments in collections

In [24]:
data = df[float_feat_cols]
data.head()

,violation_street_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance
0,601.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
1,607.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
2,4066.0,250.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,3005.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
4,4024.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0

In [25]:
data.shape

(250306, 9)

In [26]:
data = data.dropna().reset_index().drop('index',axis=1)

In [27]:
data.head()

,violation_street_number,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,compliance
0,601.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
1,607.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
2,3005.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
3,4024.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0
4,4017.0,250.0,20.0,10.0,25.0,0.0,0.0,305.0,0.0

In [28]:
data.shape

(159880, 9)

In [29]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_trScaled = scaler.fit_transform(X_train)
X_tsScaled = scaler.transform(X_test)
Log_model = LogisticRegression().fit(X_trScaled, y_train)

In [30]:
Log_model.score(X_trScaled,y_train)

0.92752064048036031

In [31]:
Log_model.score(X_tsScaled,y_test)

0.92864648486364776

In [32]:
X_tsScaled.shape

(39970, 8)

In [33]:
y_pred = Log_model.predict(X_tsScaled)
y_pred.shape

(39970,)

In [34]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

        0.0       0.93      1.00      0.96     37109
        1.0       0.60      0.01      0.02      2861

avg / total       0.91      0.93      0.90     39970

In [35]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test,y_pred))

[[37092    17]
 [ 2835    26]]

In [36]:
print(confusion_matrix(y_train,Log_model.predict(X_trScaled)))

[[111123     51]
 [  8640     96]]

In [37]:
y_prob_score = Log_model.predict_proba(X_trScaled)
y_test_prob_score = Log_model.predict_proba(X_tsScaled)

In [38]:
y_prob_score.shape

(119910, 2)

In [39]:
y_prob_score[0:10][:]

array([[ 0.93576456,  0.06423544],
       [ 0.96047492,  0.03952508],
       [ 0.91466099,  0.08533901],
       [ 0.93576437,  0.06423563],
       [ 0.93575876,  0.06424124],
       [ 0.87198514,  0.12801486],
       [ 0.92934158,  0.07065842],
       [ 0.92933203,  0.07066797],
       [ 0.93575632,  0.06424368],
       [ 0.91467047,  0.08532953]])

In [40]:
y_train[0:10][:]

67578     0.0
123761    0.0
89311     0.0
45141     0.0
57759     0.0
100598    0.0
83501     0.0
85705     0.0
110920    0.0
56963     0.0
Name: compliance, dtype: float64

In [41]:
from sklearn.metrics import roc_curve, auc

fpr_lr, tpr_lr, _ = roc_curve(y_test, y_test_prob_score[:,1])
roc_auc_lr = auc(fpr_lr, tpr_lr)
print('LogRegr(test data) ROC curve (area = {:0.2f})'.format(roc_auc_lr))

LogRegr(test data) ROC curve (area = 0.75)

In [42]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test, y_test_prob_score[:,1])

0.7504167065049373

In [43]:
fpr_lr_tr, tpr_lr_tr, _ = roc_curve(y_train, y_prob_score[:,1])
roc_auc_lr = auc(fpr_lr_tr, tpr_lr_tr)
print('LogRegr(train data) ROC curve (area = {:0.2f})'.format(roc_auc_lr))

LogRegr(train data) ROC curve (area = 0.76)

In [44]:
roc_auc_score(y_train, y_prob_score[:,1])

0.75717771488590202

In [45]:
df_test = pd.read_csv("readonly/test.csv")
df_test = df_test.sort_values('ticket_id',axis=0).reset_index().drop('index',axis=1)

In [46]:
df_test.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,grafitti_status
0,284932,Department of Public Works,"Granberry, Aisha B","FLUELLEN, JOHN A",10041.0,ROSEBERRY,NaN,141,ROSEBERRY,DETROIT,...,Failure to secure City or Private solid waste ...,Responsible by Default,200.0,20.0,10.0,20.0,0.0,0.0,250.0,NaN
1,284943,Department of Public Works,"Buchanan, Daryl","BAGLEY HOUSING ASSOCIATION INC, .",4410.0,UTHES,NaN,2715,BAGLEY,DETROIT,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN
2,284944,Department of Public Works,"Buchanan, Daryl","U.S BANK, .",7050.0,LEXINGTON,NaN,481,FREDRICA,OWENSBORO,...,Violation of time limit for approved container...,Responsible by Default,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN
3,284945,Department of Public Works,"Buchanan, Daryl","JACKSON LAND HOLDINGS, .",809.0,BEARD,NaN,39,CENTENNIAL DR STE C,MIDLAND,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Default,1000.0,20.0,10.0,100.0,0.0,0.0,1130.0,NaN
4,284946,Department of Public Works,"Buchanan, Daryl","EVERLY, DARLENE",6404.0,MORSE,NaN,98,AMOS,HOWELL,...,Allowing bulk solid waste to lie or accumulate...,Responsible by Determination,100.0,20.0,10.0,10.0,0.0,0.0,140.0,NaN

In [47]:
float_feat_cols = [x for x in float_cols if x not in remo_col]
float_feat_cols

['violation_street_number',
 'fine_amount',
 'admin_fee',
 'state_fee',
 'late_fee',
 'discount_amount',
 'clean_up_cost',
 'judgment_amount',
 'compliance']

In [48]:
data_test = df_test[float_feat_cols[:-1]]

In [49]:
data_test.columns

Index(['violation_street_number', 'fine_amount', 'admin_fee', 'state_fee',
       'late_fee', 'discount_amount', 'clean_up_cost', 'judgment_amount'],
      dtype='object')

In [50]:
data_test.dtypes

violation_street_number    float64
fine_amount                float64
admin_fee                  float64
state_fee                  float64
late_fee                   float64
discount_amount            float64
clean_up_cost              float64
judgment_amount            float64
dtype: object

In [51]:
data_test = data_test.dropna().reset_index().drop('index',axis=1)

In [52]:
X_testScaled = scaler.transform(data_test)

In [53]:
y_testprob_score = Log_model.predict_proba(X_testScaled)

In [54]:
y_testprob_score.shape

(61001, 2)

In [55]:
y_testprob_score

array([[ 0.92933243,  0.07066757],
       [ 0.9854191 ,  0.0145809 ],
       [ 0.91465273,  0.08534727],
       ...,
       [ 0.89807643,  0.10192357],
       [ 0.87200248,  0.12799752],
       [ 0.9146587 ,  0.0853413 ]])

In [60]:
final_ans = pd.Series(data = y_testprob_score[:,1], index = df_test['ticket_id'], dtype='float32')

In [61]:
len(final_ans)

61001

In [56]:
import pandas as pd
import numpy as np

def blight_model():
    
    # Your code here
    
    return # Your answer here

In [57]:
blight_model()

In [58]:
import math
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV

df = pd.read_csv('train.csv', encoding = "ISO-8859-1")

df.index = df['ticket_id']
    
#     features_name = ['agency_name', 'inspector_name', 'violator_name', 'violation_street_number', 
#                      'violation_street_name', 'mailing_address_str_number', 'mailing_address_str_name',
#                      'city', 'state', 'zip_code', 'ticket_issued_date', 'hearing_date',
#                      'violation_code', 'violation_description', 'disposition', 'fine_amount', 'admin_fee',
#                      'state_fee' , 'late_fee', 'discount_amount', 'clean_up_cost' , 'judgment_amount'
#                      ]

features_name = ['fine_amount', 'admin_fee', 'state_fee', 'late_fee']
        
df.compliance = df.compliance.fillna(value=-1)
    
df = df[df.compliance != -1]
    
#     le = LabelEncoder().fit(df['inspector_name'])
    
#     inspector_name_transformed = le.transform(df['inspector_name'])
 
X = df[features_name]
    
#     X['inspector_name'] = le.transform(df['inspector_name'])
    
#     print(X)
    
X.fillna(value = -1)
    
y = df.compliance
    
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)
    
clf = RandomForestClassifier(n_estimators = 10, max_depth = 5).fit(X_train, y_train)
    
#     grid_values = {'n_estimators': [9, 10, 11], 'max_depth': [1,2,3,4,5] }  # n_est = 10 and max_depth = 5
    
    # default metric to optimize over grid parameters: accuracy
#     grid_clf = GridSearchCV(clf, param_grid = grid_values)
#     grid_clf.fit(X_train, y_train)

#     y_score = clf.predict(X_test)
    
#     fpr, tpr, _ = roc_curve(y_test, y_score)
    
#     roc_auc = auc(fpr, tpr)
    
#     print(roc_auc)

features_name = ['fine_amount', 'admin_fee', 'state_fee', 'late_fee']
    
df_test = pd.read_csv('readonly/test.csv', encoding = "ISO-8859-1")
    
df_test.index = df_test['ticket_id']
    
X_predict = clf.predict_proba(df_test[features_name])
    
ans = pd.Series(data = X_predict[:,1], index = df_test['ticket_id'], dtype='float32')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (11,12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
y_score = clf.predict_proba(X_test)

roc_auc_score(y_test,y_score[:,-1])

0.75317309843694624