---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [2]:
import re

In [3]:
df = pd.DataFrame(df, columns=['note'])

In [4]:
df.head()

                                                note
0       03/25/93 Total time of visit (in minutes):\n
1                     6/18/85 Primary Care Doctor:\n
2  sshe plans to move as of 7/8/71 In-Home Servic...
3              7 on 9/27/75 Audit C Score Current:\n
4  2/6/96 sleep studyPain Treatment Pain Level (N...

In [5]:
df_1 = pd.DataFrame(pd.DataFrame(df.note.str.strip()).note.str.strip(':'))

In [6]:
df_1.head()

                                                note
0          03/25/93 Total time of visit (in minutes)
1                        6/18/85 Primary Care Doctor
2  sshe plans to move as of 7/8/71 In-Home Servic...
3                 7 on 9/27/75 Audit C Score Current
4  2/6/96 sleep studyPain Treatment Pain Level (N...

In [7]:
df_1.shape

(500, 1)

In [8]:
# [t for t in df_1.note]

## 04/20/2009; 04/20/09; 4/20/09; 4/3/09; Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009; Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009; Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; 2010

In [9]:
date_str = '04/20/2009; 04/20/09; 4/20/09; 4/3/09; Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009; Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009; Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; 2010'

In [10]:
date_str1 = date_str.split(';')

In [11]:
date_str1[:6]

['04/20/2009',
 ' 04/20/09',
 ' 4/20/09',
 ' 4/3/09',
 ' Mar-20-2009',
 ' Mar 20, 2009']

In [12]:
#1. pulling different variants of date in numerical form entirely
re.findall(r'(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})',date_str)

['04/20/2009', '04/20/09', '4/20/09', '4/3/09']

In [13]:
# Pull all the numerical parts of all entries
#re.findall(r'(\d{1,2}?[/-]?\d{1,2}?[/-]?\d{2,4})',date_str)

In [14]:
re.findall(r'(\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sept|Oct|Nov|Dec)[a-z]* \d{2,4})',date_str)

['20 Mar 2009', '20 March 2009']

In [15]:
#testing
#re.findall(r'((?:\d{1,2}[a-z.]* )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.]* (?:\d{1,2}[a-z,]* )?\d{2,4})',date_str)

In [16]:
# [a-z,.]*  - pattern for a-z characters and (, .) occuring zero or more times
# (?:pattern ) - It means don't pull just this pattern part of string, pull the entire string that matches
# pattern1?pattern2  - pattern1 may be present before pattern2 or it may not

In [17]:
print('04/20/2009; 04/20/09; 4/20/09; 4/3/09; Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009; Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009; Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; 2010')

04/20/2009; 04/20/09; 4/20/09; 4/3/09; Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009; Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009; Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; 2010

In [18]:
#2. pulling different variants of date with Month name in it.
re.findall(r'((?:\d{1,2}[a-z,.]* )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z,.]* (?:\d{1,2}[a-z,.]* )?\d{2,4})',date_str)

['Mar 20, 2009',
 'March 20, 2009',
 'Mar. 20, 2009',
 'Mar 20 2009',
 '20 Mar 2009',
 '20 March 2009',
 '20 Mar. 2009',
 '20 March, 2009',
 'Mar 20th, 2009',
 'Mar 21st, 2009',
 'Mar 22nd, 2009',
 'Feb 2009',
 'Sep 2009',
 'Oct 2010']

In [19]:
#3. Query for pattern Mar-20-2009
re.findall(r'((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z/-]*)(?:\d{1,2}[a-z/-]*)\d{2,4})',date_str)

['Mar-20-2009']

In [20]:
#4. Query for pattern 20/2009
#remove the additional rows by taking index difference with pattern 1
re.findall(r'((?:\d{1,2})[/]\d{4})',date_str)

['20/2009', '6/2008', '12/2009']

In [21]:
#4. Query for pattern 2009
re.findall(r'(\d{4})',date_str)

['2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2009',
 '2010',
 '2008',
 '2009',
 '2009',
 '2010']

In [22]:
[t for t in date_str1 if re.search(r'(\d{4}$)',t)]

['04/20/2009',
 ' Mar-20-2009',
 ' Mar 20, 2009',
 ' March 20, 2009',
 ' Mar. 20, 2009',
 ' Mar 20 2009',
 ' 20 Mar 2009',
 ' 20 March 2009',
 ' 20 Mar. 2009',
 ' 20 March, 2009',
 ' Mar 20th, 2009',
 ' Mar 21st, 2009',
 ' Mar 22nd, 2009',
 ' Feb 2009',
 ' Sep 2009',
 ' Oct 2010',
 ' 6/2008',
 ' 12/2009',
 ' 2009',
 ' 2010']

## 1. Dates with pattern: 04/20/2009; 04/20/09; 4-20-09

In [23]:
# extract size - 125
pattern_1 = df_1['note'].str.extract(r'(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})',expand=True).dropna().rename(columns={0:'Date'})

In [24]:
pattern_1.shape

(125, 1)

In [25]:
#pattern_1

## 2. Dates with pattern: 	24 Jan 2001; 11 February 1985; May 2011; June, 1999

In [26]:
#df_1['note'].str.extract(r'((\d{1,2}) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sept|Oct|Nov|Dec) (\d{2,4}))', expand=True).dropna()

#output:
#	0	1	2	3
#125	24 Jan 2001	24	Jan	2001
#127	26 May 1982	26	May	1982

In [27]:
# extract size - 66
# df_1['note'].str.extract(r'(\d{1,2} [/-]?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sept|Oct|Nov|Dec)[a-z]* \d{2,4})', expand=True).dropna()

In [28]:
# 2. 2nd Extract of dates. Size - 218
pattern_2 = df_1['note'].str.extract(r'((?:\d{1,2}[a-z,./-]* )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z,./-]* (?:\d{1,2}[a-z,./-]* )?\d{2,4})',expand=True).dropna().rename(columns={0:'Date'})

In [29]:
pattern_2.shape

(218, 1)

In [30]:
# df_1['note'].str.extract(r'((?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}[a-z]*, )?\d{2,4})',expand=True).dropna()

In [31]:
#pattern_2

In [32]:
125+217

342

## 3. Dates with pattern: 	Mar-20-2006

In [33]:
# No pattern found for Mar-20-2006
pattern_3 = df_1['note'].str.extract(r'((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z/-]*)(?:\d{1,2}[a-z/-]*)\d{2,4})', expand=True).dropna()

In [34]:
pattern_3.shape

(0, 1)

## 4. Dates with pattern:  07/2005

In [35]:
tmp_pattern_4 = df_1['note'].str.extract(r'((?:\d{1,2})[/]\d{4})',expand=True).dropna()

In [36]:
tmp_pattern_4.shape

(137, 1)

In [37]:
# remove the common rows in pattern_4 matching with pathern_1
pattern_4 = tmp_pattern_4.loc[tmp_pattern_4.index.difference(pattern_1.index), ].rename(columns={0:'Date'})

In [38]:
pattern_4.shape

(112, 1)

In [39]:
#pattern_4

In [40]:
343+111

454

In [41]:
df = tmp_pattern_4.merge(pattern_1, how='left', left_index=True, right_index=True)

In [42]:
#df

In [43]:
125+218+112

455

## 5. Dates with pattern:  2005

In [44]:
tmp_pat_5 = df_1['note'].str.extract(r'(\d{4})',expand=True).dropna()

In [45]:
tmp_pat_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_1.index),:]
tmp_pat_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_2.index),:]
pattern_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_4.index),:].rename(columns={0:'Date'})

In [46]:
#pattern_5

In [47]:
# Merge all patterns in a single dataframe
df_list = [pattern_1, pattern_2, pattern_4, pattern_5]
df_date = df_list[0]
for df in df_list[1:]:
    df_date = df_date.append(df)

In [ ]:
df_date

## 1. Assume all dates in xx/xx/xx format are mm/dd/yy
## 2. Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
## 3. If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009)
## 4. If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

In [49]:
date_1 = '10/24/89'
#date_1 = '07/25/1984'
date_1 = '4-13-82'
date_1.find('/')

-1

In [50]:
date_1.find('-')

1

In [51]:
len(date_1)

7

In [52]:
len_date = len(date_1)
mod_date = date_1
for idx,item in enumerate(date_1):
    if ((item=='/' or item=='-') and ((len_date - idx)==3)):
        mod_date = date_1[:idx+1]+'19'+date_1[idx+1:]

mod_date

'4-13-1982'

In [ ]:
df_date

In [54]:
'''Stripping  , & . from the date column values'''
df_date = pd.DataFrame(pd.DataFrame(df_date.Date.str.strip('.')).Date.str.strip(','))

In [55]:
df_date.Date.str.contains('.').sum()

500

In [56]:
df_date.Date.str.contains(',').sum()

42

In [57]:
df_date.Date.str.contains('/').sum()

233

In [58]:
df_date.Date.str.contains('-').sum()

4

In [59]:
df_date.shape

(500, 1)

In [ ]:
df_date[df_date.Date.str.contains(',')].Date

In [70]:
df_date.Date.str.strip(',').str.contains(',').sum()

42

In [74]:
type(df_date.Date)

pandas.core.series.Series

In [60]:
'''Replace - & ' ' with / and '''

"Replace - & ' ' with / and "

In [72]:
'''Use the foloowing to tranform the date series'''
pd.to_datetime('20 Mar. 2014', infer_datetime_format=True)

Timestamp('2014-03-20 00:00:00')

In [90]:
idx_ = df_date[df_date.Date.str.contains(',')==False].index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            490, 491, 492, 493, 494, 495, 496, 497, 498, 499],
           dtype='int64', length=458)

In [139]:
pd.to_datetime(df_date[df_date.Date.str.contains(',')==False][450:500].stack()).unstack()

          Date
492 1986-01-01
493 1978-01-01
494 2002-01-01
495 1979-01-01
496 2006-01-01
497 2008-01-01
498 2005-01-01
499 1980-01-01

In [114]:
'''What is at 298 that is erroring it out'''

'What is at 298 that is erroring it out'

In [118]:
df_date.iloc[298]
'''Spelling is wrong for the Month for these indexes: 298, 313'''

Date    Janaury 1993
Name: 298, dtype: object

In [119]:
df_date.iloc[298,]= 'January 1993'

In [131]:
df_date.iloc[313,]= 'December 1978'

In [146]:
df_final = pd.to_datetime(df_date.stack()).unstack()

In [147]:
df_final.shape

(500, 1)

In [153]:
df_final.sort_values(by='Date').index

Int64Index([  9,  84,   2,  53,  28, 474, 153,  13, 129,  98,
            ...
            152, 235, 464, 253, 427, 231, 141, 186, 161, 413],
           dtype='int64', length=500)

In [155]:
answer = pd.Series(df_final.sort_values(by='Date').index)

## Different ways to convert a mixed dataframe into uniform date time series

In [143]:
# It is working after correcting the name of the 2 wrongly spelled entries at 298 and 313 indices
# 1. pd.to_datetime(df_date.Date)

In [81]:
# 2. pd.to_datetime(df_date.stack()).unstack()

In [144]:
# pd.to_datetime(pattern_1, infer_datetime_format=True)
'''GEtting error for above: ValueError: to assemble mappings requires at least that [year, month, day] 
be specified: [day,month,year] is missing. 
This is because to_datetiem does not take a Dataframe as an input. pass the appropriate inut, String, Series, 
List, it will work fine.'''
# 3. dt_final = df_date.apply(pd.to_datetime)

In [156]:
def date_sorter():
    # Your code here
    import pandas as pd
    import re

    doc = []
    with open('dates.txt') as file:
        for line in file:
            doc.append(line)

    df = pd.Series(doc)
    df = pd.DataFrame(df, columns=['note'])
    df_1 = pd.DataFrame(pd.DataFrame(df.note.str.strip()).note.str.strip(':'))
    # 1. 09/04/2005 extract size - 125
    pattern_1 = df_1['note'].str.extract(r'(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})',expand=True).dropna().rename(columns={0:'Date'})
    # 2. 2nd Extract of dates. Size - 218
    pattern_2 = df_1['note'].str.extract(r'((?:\d{1,2}[a-z,./-]* )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z,./-]* (?:\d{1,2}[a-z,./-]* )?\d{2,4})',expand=True).dropna().rename(columns={0:'Date'})
    # 3. No pattern found for Mar-20-2006
    pattern_3 = df_1['note'].str.extract(r'((?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z/-]*)(?:\d{1,2}[a-z/-]*)\d{2,4})', expand=True).dropna()
    # 4. 08/1987 
    tmp_pattern_4 = df_1['note'].str.extract(r'((?:\d{1,2})[/]\d{4})',expand=True).dropna()
    # remove the common rows in pattern_4 matching with pathern_1
    pattern_4 = tmp_pattern_4.loc[tmp_pattern_4.index.difference(pattern_1.index), ].rename(columns={0:'Date'})
    # 5. 1967
    tmp_pat_5 = df_1['note'].str.extract(r'(\d{4})',expand=True).dropna()
    tmp_pat_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_1.index),:]
    tmp_pat_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_2.index),:]
    pattern_5 = tmp_pat_5.loc[tmp_pat_5.index.difference(pattern_4.index),:].rename(columns={0:'Date'})    
    # Merge all patterns in a single dataframe
    df_list = [pattern_1, pattern_2, pattern_4, pattern_5]
    df_date = df_list[0]
    for df in df_list[1:]:
        df_date = df_date.append(df)
    # Correct the spelling for Month at indexes 298 and 313
    df_date.iloc[298,]= 'January 1993'
    df_date.iloc[313,]= 'December 1978'
    df_final = pd.to_datetime(df_date.stack()).unstack()
    
    return pd.Series(df_final.sort_values(by='Date').index) # Your answer here